@import "src/styles/theme.scss";

.about-us-container {
  border-radius: $borderRadiusLarge;
  max-width: $maxWidth; // Adjust max-width as needed
  padding: $spacingMedium;
  margin: 0 auto;
  text-align: center;

  .work-image {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  .core-competencies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .competency-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: $spacingMedium;
    width: 100%;

    &:not(:first-child) {
      border-left: $border;
    }

    .competency-icon {
      width: 100%;
      max-height: 250px;
      height: auto;
      margin-bottom: $spacingMedium;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $textColor;
      font-size: 2em;
    }

    h3 {
      font-size: 1.5rem;
      margin: $spacingSmall 0;
      color: #fff;
    }

    p {
      color: $textColorLight;
      font-size: 1.2em;
      line-height: 1.6;
    }
  }

  @media (max-width: $mobileBreakpoint) {
    .core-competencies {
      grid-template-columns: 1fr;
    }

    .competency-card {
      border: none;
      text-align: left;

      &:not(:first-child) {
        border-top: $border;
        border-left: none;
      }

      &:nth-child(n+2) {
        border-left: none;
      }
    }
  }
}
