@import 'src/styles/theme.scss';

.app-container {
    background-color: $backgroundColor;
    color: $textColor;

    .app-wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: $spacingLarge;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px); /* Adjust the bounce height */
        }
    }

    .heading {
        color: $secondaryColor;
        animation: bounce 2s ease-in-out infinite;
    }

    p {
        color: $textColorLight;
        font-size: 1.2em;
        line-height: 1.6;
    }

    button {
        font-size: 1.25rem;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $textColor;
        font-weight: normal;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4, h5, h6 {
        font-size: 1.25rem;
    }
}
