@import 'src/styles/theme.scss';

@import 'src/styles/theme.scss';

.navbar {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 900;
  transition: ease-in-out .3s;
  padding: $spacingMedium;

  &.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }


  .logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-right: $spacingMedium;
    cursor: pointer;

    strong {
      color: $secondaryColor;
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    color: white;

    @media screen and (max-width: $mobileBreakpoint) {
      display: none;
    }

    .nav-link {
      position: relative;
      padding: $spacingSmall; // Your padding
        margin: 0 $spacingSmall; // Your margin
      font-size: 1.2em;
      color: $textColor; // Your text color
      text-decoration: none;
      transition: color 0.3s;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: $textColor; // Your primary color
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  .menu-btn {
    display: none;
    border: none;
    background: transparent;

    svg {
      margin: 0;
      color: $textColor;
      font-size: 24px;
    }

    @media screen and (max-width: $mobileBreakpoint) {
      display: block;
      color: $primaryColor;
      font-size: 24px;
      cursor: pointer;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background-color: $cardBackgroundColor;
    position: fixed;
    right: 0;
    top: 0;
    padding: $spacingMedium;
    border-top-left-radius: $borderRadiusLarge;
    border-bottom-left-radius: $borderRadiusLarge;
    box-shadow: $boxShadowHover;
    max-width: 400px;
    height: 100vh;
    width: 80%;
    text-align: center;
  }

  .modal-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    color: white;

    .modal-link {
      color: $textColor;
      font-weight: 500;
      position: relative;
      margin: $spacingMedium 0;
      text-decoration: none;
      padding: $spacingSmall;
      transition: ease-in-out .3s;
      border-radius: $borderRadiusLarge;

      &:hover {
        background-color: lighten($primaryColor, 30%);
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #999;
  }

  .btn-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: 2px solid $textColor;
    background: transparent;
    border-radius: 5px;
    padding: $spacingSmall $spacingMedium;
    color: $textColor;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: fit-content;
    text-align: center;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      background: $textColor;
      width: 100%;
      height: 0%;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      color: $primaryColor;
    }

    &:hover::before {
      height: 100%;
    }
  }
}

