@import 'src/styles/theme.scss';

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, $primaryColor, $backgroundColor);
  color: $textColor;
  margin-bottom: $spacingMedium;
  overflow: hidden;
}

.hero-content {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image {
  width: 60vw;
  height: auto;
  z-index: 2;

  @media (max-width: $mobileBreakpoint) {
    width: 100vw;
  }
}

.hero-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 3em;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: normal;
  z-index: 1;
}

.p-hero {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;  // Ensure text is centered like the title
}
