@import 'src/styles/theme.scss';

.experience-container {
  padding: $spacingMedium;
  height: fit-content;
  position: relative;
  overflow: hidden;
}

.experience-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: $maxWidth;

  @media (max-width: 768px) {
    left: 7px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    left: 50%;
    height: 100%;
    background-color: #333;
  }
}

.experience-item {
  width: 100%;
  margin-bottom: 40px;

  &:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
  }

  &:nth-child(even) {
    padding-left: calc(50% + 30px);
  }

  .timeline-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 7px);
  }


  .title {
    font-weight: bold;
    font-size: 1.5rem;
    color: $primaryColor;
  }

  .year {
    color: $textColor;
    margin-top: -15px;
  }

  .details {
    color: $textColorLight;

    ul {
      list-style-type: none;

      li {
        margin-bottom: 10px;
        font-size: 1rem;
      }
    }
  }

}

// responsive
@media (max-width: 768px) {
  .experience-wrapper {
    &::before {
      left: 7px;
    }
  }
  .experience-item {
    &:nth-child(odd) {
      padding-right: 0;
      text-align: left;
    }

    &:nth-child(odd),
    &:nth-child(even) {
      padding-left: 37px;
    }

    .timeline-dot {
      left: 0;
    }

  }
}
