// Import theme variables
@import 'src/styles/theme.scss';



.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: $spacingMedium;
  max-width: $maxWidth; // Adjust max-width as needed
  padding: $spacingMedium
}

.project-card {
  position: relative; // Make the card position relative to enable absolute positioning of description
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;

  &:hover {
    transform: translateY(-5px); // Card hover effect

    .project {
      &:after {
        opacity: 1; // Show the overlay on hover
      }
    }

    .project-description {
      opacity: 1; // Show the description on hover
      color: #fff; // Adjust text color as needed
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); // Add a subtle text shadow
    }
  }
}

.project {
  position: relative; // Make the project position relative to enable absolute positioning of overlay
  height: 200px; // Adjust height as needed
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: $borderRadiusLarge; // Apply border radius to cards

  &:after {
    content: ''; // Add a pseudo-element to create the overlay
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); // Adjust the alpha value to darken the background
    border-radius: $borderRadiusLarge; // Apply border radius to description
    opacity: 0; // Initially hide the overlay
    transition: opacity 0.3s ease; // Add transition for smooth appearance
  }
}

.project-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1; // Ensure the description is above the overlay
}

h3 {
  margin: 10px;
  color: $textColor; // Use primary color for headers from theme
}
