@import "src/styles/theme.scss";

.work-heading-image {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.work-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $maxWidth; // Adjust max-width as needed
  padding: $spacingMedium;
  margin: 0 auto;
  gap: $spacingLarge;
}

.work-section {
  display: flex;
  align-items: center;
  margin-bottom: $spacingLarge;

  &:nth-child(odd) {

    .work-wrapper {
      grid-template-areas: 'content image';
      text-align: left;
      grid-template-columns: 4fr 6fr;
      margin: auto;


      @media (max-width: $tabletBreakpoint) {
        flex-direction: column;
        grid-template-areas: none;
        min-height: auto;
      }
    }
  }
}

.work-wrapper {
  transition: transform 0.3s ease-in-out;
  display: grid;
  max-width: $maxWidth;
  margin: 0 auto;
  grid-template-columns: 60% 40%;
  grid-template-areas: 'image content';
  align-items: flex-start;
  text-align: right;

  @media (max-width: $tabletBreakpoint) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    min-height: auto;
  }
}

.work-image {
  width: 100%;
  height: auto; /* Ensures image maintains aspect ratio */
  object-fit: cover;
  border-radius: 10px;
  animation: fade-in-left 1s ease-in-out both;
  grid-area: image; /* Assign grid area for the image */
  box-shadow: $boxShadowHover;
  z-index: 5;
}

.work-content {
  display: flex;
  flex-direction: column;
  grid-area: content;
  z-index: 1;
  position: relative;
  padding-right: $spacingLarge;
  width: 100%;

  &:nth-child(even) {
    padding-left: $spacingLarge;
  }

  &:after {
    content: '';
    position: absolute;
    background-color: #FFCAD4;
    height: 100%;
    left: 0;
    bottom: -20px;
    transition: width 0.3s ease;
    animation: progress-animation 1s;
    animation-delay: 0.8s;
    animation-fill-mode: both;
  }

  @media (max-width: $tabletBreakpoint) {
    padding: 0 !important;
  }

  h2 {
    font-weight: normal;
  }

  .work-info {
    margin-bottom: $spacingMedium;
    font-style: italic;
  }

  .work-description {
    margin-bottom: 10px;
    padding: $spacingSmall;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: $borderRadiusSmall;
    background-color: $cardBackgroundColor;
    cursor: default;

    p {
      color: $textColor !important;
    }

    &:hover {
      border-color: $primaryColor;
      box-shadow: $boxShadow;
    }

    &.selected {
      background-color: $primaryColor;
      color: $textColor;
      box-shadow: 0 4px 6px $boxShadowHover;
      transform: translateY(-2px);
    }
  }


}

