@import 'src/styles/theme.scss';



.work-container {
  display: flex;
  flex-direction: column;
  padding: $spacingMedium;

  .heading-wrapper {
    max-width:  1280px;
    margin: 0 auto;
    width: 100%;
    padding: 0 $spacingMedium;

    h1 {
      width: 100%;
    }
  }
}

.work-section {
  display: flex;
  align-items: center;
  min-height: 600px;
  background-color: $cardBackgroundColor;


  &:nth-child(odd) {
    background: $backgroundColor;

    .work-wrapper {
      grid-template-areas: 'content image'; // Added quotation marks
      text-align: right;
      grid-template-columns: 40% 60%;

      @media (max-width: 768px) {
        flex-direction: column;
        grid-template-areas: none;
        min-height: auto;

      }
    }
  }
}

.work-wrapper {
  transition: transform 0.3s ease-in-out;
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: 60% 40%;
  grid-template-areas: 'image content'; // Added quotation marks
  align-items: center;
  text-align: left;
  padding: $spacingMedium;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    min-height: auto;
  }


}

.work-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
  grid-area: image;
  box-shadow: $boxShadowHover;
  z-index: 5;
  position: relative;
}

.work-content {
  display: flex;
  flex-direction: column;
  grid-area: content;
  z-index: 1;
  position: relative;

  .work-title {
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }

  .work-description {
    font-size: 1rem;
    color: #666;
  }
}
