@import "src/styles/theme.scss";

.skills-container {
  padding: $spacingMedium;
  max-width: $maxWidth;
  margin: 0 auto;

  .category-buttons {
    display: flex;
    align-items: center;
    margin-bottom: $spacingLarge;
    overflow-x: auto;
  }

  .category-button {
    background: linear-gradient(to right, #2196F3, #1976D2); /* Material blue gradient */
    color: #fff; /* White text color */
    border: none;
    padding: $spacingSmall $spacingMedium;
    margin-right: 10px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out .3s;
    display: flex;
    align-items: center;
    box-shadow: $boxShadow;

    svg {
      margin-right: 10px;
    }

    &:hover {
      color: $primaryColor; /* Darker shade of blue for active state */
      background: #fff; /* White text color */
    }

    &.active {
      color: $primaryColor; /* Darker shade of blue for active state */
      background: #fff; /* White text color */
    }
  }

}

.skills-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: $spacingLarge;
  margin-bottom: $spacingLarge;
}

.skill-card {
  border-radius: $borderRadiusLarge;
  padding: $spacingMedium;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $cardBackgroundColor;
  box-shadow: $boxShadow;
  text-align: center;
  border: $border;
}

.skill-icon {
  font-size: 3rem;
  color: $primaryColor;
}

.skill-title {
  color: $textColor;
  margin-bottom: 0.5rem;
}

.skill-description {
  color: $textColorLight;
}
